@model Repository.Models.Member

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Member</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="QueuePoints" class="control-label"></label>
                <input asp-for="QueuePoints" class="form-control" />
                <span asp-validation-for="QueuePoints" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="YearlySalary" class="control-label"></label>
                <input asp-for="YearlySalary" class="form-control" />
                <span asp-validation-for="YearlySalary" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <label asp-for="MinRooms" class="control-label"></label>
                <input asp-for="MinRooms" class="form-control" />
                <span asp-validation-for="MinRooms" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MaxRooms" class="control-label"></label>
                <input asp-for="MaxRooms" class="form-control" />
                <span asp-validation-for="MaxRooms" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
